{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'liste/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'liste/css/styles.css' %}" rel="stylesheet" />
        <style>
            header{

            background-image: url('https://nouvelles.umontreal.ca/fileadmin/_processed_/csm_20200601_fruits-legumes_9761d0da5c.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
}
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" >Consulter Stock</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Cloturer une commande</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"></a></li>
                       
                    </ul>
                   
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Stock</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://c5.staticflickr.com/4/3043/2694720316_65101af7a1_o.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Tomates</h5>
                                    <!-- Product quantity-->
                                    
                                </div>
                                <div class="text-center">
                                50 Kg
                            </div>
                            <div class="text-center">
                                La tomate la plus bonne, rouge et ronde 
                            </div>
                            </div>
                            <!-- Product actions-->
                            
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://media.istockphoto.com/photos/heap-of-raw-potato-picture-id1005339436?k=20&m=1005339436&s=612x612&w=0&h=FDkAw2b69RnUAyV3LWs6UbwEZdlMgwbde4eUx52pPno=" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Pommes de terres</h5>
                                    <!-- Product quantity-->
                                    
                                </div>
                                <div class="text-center">
                                50 Kg
                            </div>
                            <div class="text-center">
                                Les pommes de terres les plus croquantes pour un bon chips 
                            </div>
                            </div>
                            <!-- Product actions-->
                            
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.maxiprimeur.com/wp-content/uploads/2021/02/le-poivron.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Poivron</h5>
                                    <!-- Product quantity-->
                                    
                                </div>
                                <div class="text-center">
                                50 Kg
                            </div>
                            <div class="text-center">
                                Le poivron le plus piquant du monde 
                            </div>
                            </div>
                            <!-- Product actions-->
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'liste/js/scripts.js' %}"></script>
    </body>
</html>
